@font-face {
    font-family: 'Otaku Rant';
    src: url(../fonts/otaku-rant.ttf);
}

body {
    display: grid;
    grid: 50px auto 80px / auto;
    min-height: 100vh;
    font-family: 'fuzzy-bubbles', sans-serif;
}

header,
footer {
    background-image:
        radial-gradient(#ffbb0081, #ff8800);
}

header {
    display: grid;
    place-content: center;
    position: relative;
}

.menu-icon__container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    -webkit-tap-highlight-color: transparent;
    border-radius: 5px;
}

.menu-icon__container:active {
    background-color: #e5f9e0;
}

.menu-icon {
    display: flex;
    width: 30px;
    height: 30px;
}

.rotate {
    animation: rotate .5s linear forwards;
}

.rotate-back {
    animation: rotate-back .5s linear backwards;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

@keyframes rotate-back {
    from {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.name__container {
    font-weight: bold;
    font-size: 2rem;
}

.regular,
.small {
    font-family: 'Otaku Rant';
    text-align: center;
    line-height: .8;
}

.small {
    font-size: .7rem;
    word-spacing: -1px;
}

.nav-menu {
    transform: translateX(-100%);
    width: 100%;
    position: absolute;
    top: calc(100%);
    left: 0;
    transition: transform .5s ease-in-out;
    background-color: #292929;
    box-shadow: inset 0 0 5px #ff8800;
}

.nav-menu.show {
    transform: translateX(0);
}

.nav-menu.hide {
    transform: translateX(-100%);
}

.nav-menu__list {
    list-style: none;
    width: 100%;
}

.nav-menu__link {
    display: block;
    text-align: center;
    place-content: center;
    width: 100%;
    height: 40px;
    -webkit-tap-highlight-color: transparent;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.js-active {
    border-bottom: 1px solid #ff8800;
}

.nav-menu__list:has(.nav-menu__link:active) {
    background-color: hsla(36, 68%, 55%, 0.5);
}

.main {
    background-color: #292929;
}

h1 {
    margin-top: 10px;
    text-align: center;
    background-image: radial-gradient(#e5f9e0, #ffbb0081);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

h2 {
    background-image: radial-gradient(#e5f9e0, #ffbb0081);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.card__container {
    margin-top: 10px;
}

.card {
    padding: 1em;
    background-image: radial-gradient(hsla(34, 100%, 46%, 0.502), #292929);
}

.card iframe {
    border: none;
    display: block;
    margin: 0 auto 10px;
    max-width: 525px;
    width: 100%;
    height: auto;
}

.synopsis {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    max-width: 525px;
    margin-inline: auto;
}

.card button {
    display: block;
    margin: 10px auto 0;
    padding: .5em 1em;
}

.social-media__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.social-media__container p {
    margin-bottom: 5px;
}

.social-media__list {
    display: flex;
    margin-inline: auto;
    gap: 10px;
}

.social-media__list li {
    list-style: none;
}

.social-media__link {
    display: flex;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.social-media__link img {
    width: 24px;
    height: 24px;
}