@media screen and (min-width: 800px) {

    .card {
        display: grid;
        grid-template-areas:
            'image cardDiv';
        min-width: 530px;
    }

    .card h2 {
        margin: 0 0 10px;
    }

    .synopsis {
        -webkit-line-clamp: 10;
        line-clamp: 10;
        margin: 0;
    }

    .card img {
        margin: 0;
        width: 200px;
        height: auto;
    }

    .card button {
        margin: 10px auto 10px;
    }

    .card div {
        grid-area: cardDiv;
    }

    .card img {
        grid-area: image;
    }
}

@media screen and (min-width: 1024px) {
    .card__container {
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        margin-inline: auto;
    }

    .card {
        margin: 0 auto 0;
    }
}