@font-face {
    font-family: 'Otaku Rant';
    src: url(../fonts/otaku-rant.ttf);
}

body {
    display: grid;
    grid: 50px auto 80px / auto;
    min-height: 100vh;
    font-family: 'fuzzy-bubbles', sans-serif;
}

header,
footer {
    background-image:
        radial-gradient(#ffbb0081, #ff8800);
}

header {
    display: grid;
    place-content: center;
    position: relative;
}

.menu-icon__container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    -webkit-tap-highlight-color: transparent;
    border-radius: 5px;
}

.menu-icon__container:active {
    background-color: #e5f9e0;
}

.menu-icon {
    display: flex;
    width: 30px;
}

.rotate {
    animation: rotate .5s linear forwards;
}

.rotate-back {
    animation: rotate-back .5s linear backwards;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

@keyframes rotate-back {
    from {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.name__container {
    font-weight: bold;
    font-size: 2rem;
}

.regular,
.small {
    font-family: 'Otaku Rant';
    text-align: center;
    line-height: .8;
}

.small {
    font-size: .7rem;
    word-spacing: -1px;
}

.nav-menu {
    transform: translateX(-200%);
    width: 100%;
    position: absolute;
    top: calc(100%);
    left: 0;
    background-image: linear-gradient(to right, #ff444486 10%, transparent 20%, transparent 80%, #ff444486 90%);
    transition: transform .5s ease-in-out;
}

.nav-menu.show {
    transform: translateX(0);
}

.nav-menu.hide {
    transform: translateX(-200%);
}

.nav-menu__list {
    list-style: none;
    width: 100%;
}

.nav-menu__link {
    color: #292929;
    display: block;
    text-align: center;
    place-content: center;
    width: 100%;
    height: 40px;
    -webkit-tap-highlight-color: transparent;
    background-image: radial-gradient(#e5f9e0, #ffbb0081);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration: none;
    font-weight: bold;
}

.nav-menu__list:has(.nav-menu__link:active) {
    background-color: #ff444486;
}

.main {
    background-color: #292929;
}