@media screen and (min-width: 800px) {

    .card__container {
        min-height: calc(350px * 15);
    }

    .card {
        display: grid;
        grid-template-areas:
            'image cardDiv';
        min-width: 530px;
        min-height: 300px;
    }

    .card h2 {
        margin: 0 0 10px;
    }

    /* .synopsis {
        -webkit-line-clamp: 10;
        line-clamp: 10;
        margin: 0;
    } */

    .card img {
        margin: 0;
        width: 200px;
        height: auto;
    }

    .card button {
        margin: 10px auto 10px;
    }

    .card div {
        grid-area: cardDiv;
        max-height: 50px;
    }

    .card img {
        grid-area: image;
    }
}

@media screen and (min-width: 1024px) {
    .card__container {
        grid-template-columns: repeat(2, 1fr);
    }
}