@font-face {
    font-family: 'Otaku Rant';
    src: url(../fonts/otaku-rant.ttf);
}

body {
    display: grid;
    grid: 50px auto 80px / auto;
    min-height: 100vh;
    font-family: 'fuzzy-bubbles', sans-serif;
}

header,
footer {
    background-image:
        radial-gradient(#ffbb0081, #ffae00);
}

header {
    display: grid;
    place-content: center;
    position: relative;
}

.menu-icon__container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    -webkit-tap-highlight-color: transparent;
    border-radius: 5px;
}

.menu-icon__container:active {
    background-color: #e5f9e0;
}

.menu-icon {
    display: flex;
    width: 30px;
}

.rotate {
    animation: rotate .2s linear forwards;
}

.rotate-back {
    animation: rotate-back .2s linear backwards;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

@keyframes rotate-back {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.name__container {
    font-weight: bold;
    font-size: 2rem;
}

.regular,
.small {
    font-family: 'Otaku Rant';
    text-align: center;
    line-height: .7;
}

.small {
    font-size: .7rem;
}

.nav-menu {
    display: none;
    background-color: #143642;
    width: 100%;
    position: absolute;
    top: calc(100%);
    left: 0;
    /* border-radius: 5px; */
    background-image: radial-gradient(circle, #ffae00a6 0%, #292929 50%, #ffae00a6 100%);
    animation: scale .5s ease-in-out delay iteration-count direction fill-mode;
    transition-delay: ;
}

.toggle-open-menu {
    display: block;
}

.nav-menu__list {
    list-style: none;
    width: 100%;
}

.nav-menu__link {
    color: #292929;
    display: block;
    text-align: center;
    place-content: center;
    width: 100%;
    height: 40px;
    -webkit-tap-highlight-color: transparent;
    background-image: radial-gradient(#e5f9e0, #ffbb0081);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration: none;
    font-weight: bold;
}

.nav-menu__list:has(.nav-menu__link:active) {
    background-color: #29292975;
}

.main {
    background-color: #292929;
}