header {
    background-color: #000;
    color: #fff;
    display: flex;
    padding: 10px;
    position: relative;
}

header h1 {
    margin: auto;
}

header>img {
    box-shadow: 0 0 5px 0 #fff;
}

.menu img {
    position: absolute;
    bottom: calc(100% - 40px);
    left: calc(100% - 40px);
    border-radius: 10px;
    transition: transform 1s ease;
    touch-action: manipulation;
}

.rotate {
    transform: rotate(180deg);
}

.menu img:active {
    background-color: #cd5c5c;
}

.nav {
    visibility: none;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: center; 
    width: 100%;
    background-color: #000;
    transform: scale(0);
    transition: transform 1s ease;
}

.js-open-navBar {
    visibility: visible;
    transform: scale(1);
}

.nav__list_container li {
    list-style: none;
    margin-top: 5px;
    border-bottom: 1px solid #fff;
}

.nav__list_container a {
    width: 100%;
    display: block;
    text-decoration: none;
    color: #fff;
    -webkit-tap-highlight-color: transparent;
}
