* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
    height: 100%;
}

body {
    display: grid;
    grid: 100px auto 110px / auto;
    min-height: 100vh;
    font-size: 16px;
}

h1 {
    font-size: 1.5rem;
}

/* ----------------------------------------------------- HEADER ----------------------------------------------------- */

header {
    background-color: #000;
    color: #fff;
    display: flex;
    padding: 10px;
    position: relative;
}

header h1 {
    margin: auto;
}

header>img {
    box-shadow: 0 0 5px 0 #fff;
}

.menu img {
    position: absolute;
    bottom: calc(100% - 40px);
    left: calc(100% - 40px);
    border-radius: 10px;
    transition: transform .7s ease;
    touch-action: manipulation;
}

.rotate {
    transform: rotate(180deg);
}

.menu img:active,
.nav__list_container li:has(a:active) {
    background-color: #cc5555;
    color: #000;
}

.nav {
    /* opacity: 0; */
    position: absolute;
    top: 100%;
    left: 0;
    text-align: center; 
    width: 100%;
    background-color: #000;
    transform: scale(0);
    transition: transform .7s ease;
}

.js-open-navBar {
    /* opacity: 1; */
    transform: scale(1);
}

.nav__list_container li {
    list-style: none;
    padding: 5px 0;
    border-bottom: 1px solid #cc5555;
}

.nav__list_container a {
    width: 100%;
    display: block;
    text-decoration: none;
    color: #fff;
    -webkit-tap-highlight-color: transparent;
}

.nav__list_container a:active {
    color: #000;
}

/* ----------------------------------------------------- FOOTER ----------------------------------------------------- */

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    padding: .5em 3em;
    place-content: center;
}

footer p:last-child {
    font-size: .7rem;
}

footer p:last-child {
    margin-top: 10px;
}