/* ----------------------------------------------------- RESET ----------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
    --regular-text: "Nunito", serif;
    --titled-text: "Orbitron", serif;
    --color-white: #fff;
    --color-black: #000;
    --color-dark-green: #1f6600;
}

html {
    height: 100%;
}

body {
    display: grid;
    grid: 100px auto 110px / auto;
    min-height: 100vh;
    font-size: 16px;
    font-family: var(--regular-text);
}

h1 {
    font-size: 1rem;
}

h1,
h2,
h3,
h4 {
    font-family: var(--titled-text);
}

/* ----------------------------------------------------- HEADER ----------------------------------------------------- */

header {
    display: flex;
    padding: 10px;
    position: relative;
}

header h1 {
    margin: auto;
}

header>img {
    box-shadow: 0 0 5px 0 #fff;
}

.menu img {
    position: absolute;
    bottom: calc(100% - 40px);
    left: calc(100% - 40px);
    border-radius: 10px;
    transition: transform .7s ease;
    touch-action: manipulation;
}

.rotate {
    transform: rotate(180deg);
}

.nav {
    /* opacity: 0; */
    position: absolute;
    top: 100%;
    left: 0; 
    width: 100%;
    transform: scale(0);
    transition: transform .7s ease;
}

.js-open-navBar {
    /* opacity: 1; */
    transform: scale(1);
}

.nav__list_container li {
    list-style: none;
    padding: 5px 0;
}

.nav__list_container a {
    width: 100%;
    display: block;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

/* ----------------------------------------------------- MAIN ----------------------------------------------------- */

main {
    padding: 1em 1em 0;
    background-color: #e8e8e8;
}

section {
    margin-bottom: 1.5em;;
}

section h2 {
    background-color: var(--color-dark-green);
    padding: .8em 0;
}

.section__content {
    padding: .5em .5em 0;
}

.course__work_li {
    margin-left: 1em;
}

.section__content figure {
    width: 90%;
    margin: 0 auto;
}

.course__buttons {
    display: flex;
    justify-content: center;
    margin-inline: auto;
    gap: 5px;
}

.button {
    padding: .5em 1.5em;
    margin-bottom: .5em;
    outline: none;
    background-color: var(--color-white);
    border: 1px solid #adadad;
}

.js-course-list ul {
    display: grid;
    gap: 5px;
    margin-top: .5em;
}

.course__list {
    list-style: none;
    border-radius: 5px;
    margin-left: 0;
    padding: .5em 0;
    font-weight: bold;
    color: var(--color-black);
}

.js-course-list .completed {
    background-color: #5ea63f;
}

.js-course-list .incomplete {
    background-color: #cacaca;
}

/* ----------------------------------------------------- FOOTER ----------------------------------------------------- */

footer {
    font-size: 1rem;
    padding: .5em 3.5em;
    place-content: center;
}

footer p:last-child {
    font-size: .7rem;
}

footer p:last-child {
    margin-top: 10px;
}

/* ----------------------------------------------------- GROUPED RULES ----------------------------------------------------- */

header,
nav,
footer {
    background-color: var(--color-black);
}

header,
.menu img:active,
.nav__list_container li:has(a:active),
.nav__list_container a,
section h2,
footer {
    color: var(--color-white);
}

.menu img:active,
.nav__list_container li:has(a:active) {
    background-color: var(--color-dark-green);
}

.nav__list_container li,
.course__buttons {
    border-bottom: 1px solid #1f6600;
}

.button:active,
.button:focus {
    border: 1px solid #1f6600;
}

nav,
section h2,
.section__content figure,
.js-course-list ul,
footer {
    text-align: center;
}